<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
    <!-- SECCION PRINCIPAL -->
    <%- include('./partials/header') %>

        <body>
            <section>
                <div class="urgent">
                    <h3>Dentro de las 24 hs. nos estaremos contactando con Ud. Tu nro. de reclamo es:
                    <h4>AA053/<%= seguro.id %> - ES2023</h4> 
                </div>
                <%- include('./partials/footer') %>           
        </body>

</html>